html {
    background-image: url('images/pattern.png');
}
body {
    background-color: #f5f5f5;
    margin-left: 20%;
    margin-top: 25vh;
    width: 60vw;
    height: 50vh;
    text-align: center;
    vertical-align: middle;
    padding-top: 1vh;
}
h1 {
    font-size: 50px;
    font-weight: normal;
}
h3 {
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin-right: 20px;
}
li {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    padding-right: 30px;
}

#content {
    font-size: 30px;
}
