* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(216, 216, 216) 10%, rgb(216, 216, 216) 90%, rgb(0, 0, 0) 100%);
  font-family: 'Open Sans', sans-serif;
  color: rgb(219, 219, 219);
  text-shadow: 2px 2px 8px black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 45px 1fr 45px;
}

header {
  grid-column: 1/6;
  grid-row: 0/1;
}

main {
  grid-row: 2/3;
  grid-column: 2/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5% 1fr 5%;
}

#indexText {
  grid-column: 1/2;
  grid-row: 2/3;
}

#indexList {
  grid-column: 2/3;
  grid-row: 2/3;
}

#indexImage {
  grid-row: 2/3;
  grid-column: 3/4;

  margin-top: 5px;
}
img {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 2px;
  height: 70vh;
}

footer {
  background-color: #333;
  color: white;
  padding: 14px 0px;
  grid-row: 4/5;
  grid-column: 1/6;
  text-align: center;
}
